# QUESTION 1

In [2]:
num1 = 40
num2 = 52
sum1 = num1+num2
difference = num2-num1
product = num1*num2
division = num1//num2
print('The sum of',num1,'and',num2,'is:',sum1)
print('The difference of',num1,'and',num2,'is:',difference)
print('The product of',num1,'and',num2,'is:',product)
print('The quotient of',num1,'and',num2,'is:',division)

The sum of 40 and 52 is: 92
The difference of 40 and 52 is: 12
The product of 40 and 52 is: 2080
The quotient of 40 and 52 is: 0

# QUESTION 2

In [4]:
user_input = input('Enter a number')
if user_input.replace(".","").replace("-","").replace("+","").isdigit():
  # Check if input is a digit
    num = float(user_input)
    if num>0:
        print("Number is Positive")
    elif num==0:
        print("Number is zero")
    else:
        print("Number is Negitive")
else:
    print("Enter a valid number.")

Enter a number 5

Number is Positive

In [5]:
user_input = input('Enter a number')
if user_input.replace('.','').replace('-','').replace('+','').isdigit():
    num = float(user_input)
    if num>0:
        print('The number is positive')
    elif num==0:
        print('The number is zero')
    else:
        print('The number is negative')

else:
    print('Enter a valid number')

Enter a number 3

The number is positive

# QUESTION 4

In [7]:
first_name = 'Sumaiya'
last_name = 'Khan'
full_name = first_name + ' ' + last_name
print(full_name)

Sumaiya Khan

# QUESTION 5

In [9]:
length = float(input('enter the length of rectangle:'))
width = float(input('enter the width of rectangle:'))
area = length*width
print('The length of rectangle is :',round(area,3))

enter the length of rectangle: 23.5
enter the width of rectangle: 12

The length of rectangle is : 282.0

In [10]:
student_names = ['Luis', 'Divya','Maria', 'Mimi']
student_names.append('Arnold')

print(student_names)

['Luis', 'Divya', 'Maria', 'Mimi', 'Arnold']

In [21]:
# find the sum of element in a list
nums = [3,8,-4,22,0]

print('The sum of elements in a list is:',sum(nums))

#for num in nums
#num = num--1

The sum of elements in a list is: 29

In [25]:
 ages = {
 'Ahmed': 21,
 'Faraz': 21,
 'Sarah': 41
 }

# print('Faraz is {ages} years old.'.format(ages : 24))
print('Faraz is {} years old.'.format(ages['Faraz']))

Faraz is 21 years old.

In [53]:
result = 2 * (5 / 17) + 3 - (4 / 3)
print(result)

2.2549019607843137

In [55]:
result = 2 * (5 / 17) + 3 - (4 / 3)

# Print the result
print(result)

2.2549019607843137

In [65]:
numbers = [10, 20, 30, 40, 50]

# Append the number 60 to the list.
numbers.append(60)
print(numbers)

#Remove the number 20 from the list.
numbers.remove(20)
print(numbers)

#Insert 80 at index 2.
numbers.insert(2,80)
print(numbers)

#Print the sum of all the elements in the list.
sum(numbers)

[10, 20, 30, 40, 50, 60]
[10, 30, 40, 50, 60]
[10, 30, 80, 40, 50, 60]

270

In [71]:
coordinates = (12.5, 45.8, 33.1)

# Write a Python code snippet to unpack the values of the tuple into three variables: `x`,`y`, and `z`.
x,y,z = (12.5,45.8,33.1)
print(x)
print(y)
print(z)

# Explain why tuples are generally preferred over lists for storing fixed sets of data.

student_scores = {'Ali': 85, 'saima': 90, 'Kabeer': 78}

# Write a Python code snippet to add a new student `Ahmed` with a score of 92.
student_scores['Ahmed']=92
print(student_scores)

#Update Kabeer's score to 82.
student_scores.update({'Kabeer':82})
print(student_scores)

12.5
45.8
33.1
{'Ali': 85, 'saima': 90, 'Kabeer': 78, 'Ahmed': 92}
{'Ali': 85, 'saima': 90, 'Kabeer': 82, 'Ahmed': 92}

In [77]:
number = int(input("Enter a number: "))

# Check whether the number is even or odd
if number % 2 == 0:
    print('number is even.')
else:
    print('number is odd.')

Enter a number:  23

number is odd.

In [1]:
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [3]:
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5

{'name': 'rahul'}

In [8]:
# mutable items as keys
d6 = {'name':'nitish',[1,2,3]:2}
print(d6)

TypeError: unhashable type: 'list'

In [10]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']

26

In [12]:
# get
my_dict.get('age')

26

In [14]:
my_dict.pop('name')
my_dict

{'age': 26}

In [18]:
del my_dict['age']
my_dict

{}

In [30]:
# program for checking if num enetred is +ve, -ve, or zero
user_input = input('Enter your number')
if user_input.replace('.','').replace('+','').replace('-','').isdigit():
    num = float(user_input)
    if num>0:
        print('Number is positive')
    elif num==0:
        print('number is zero')
    else:
        print('number is negative')

else:
    print('enter a valid number')

Enter your number 0

number is zero

In [36]:
num = float(input('enter a number'))

if num>0:
    print('number is +ve')
elif num==0:
    print('number is zero')
else:
    print('number is -ve')

enter a number -89

number is -ve

In [38]:
brothers =('waqas','talha','shaheer')
sisters = ('warda','yumna','hamayel')
print(type(sisters))

<class 'tuple'>

In [40]:
print(type(brothers))

<class 'tuple'>

In [42]:
siblings = sisters+brothers
print(siblings)

('warda', 'yumna', 'hamayel', 'waqas', 'talha', 'shaheer')

In [48]:
siblings_list = list(siblings)
siblings_list.append('Mahmood')
siblings_list.append('Shazia')
siblings = tuple(siblings_list)
print(siblings)

('warda', 'yumna', 'hamayel', 'waqas', 'talha', 'shaheer', 'Mahmood', 'Shazia')

In [52]:
family_members = siblings
print(family_members)

('warda', 'yumna', 'hamayel', 'waqas', 'talha', 'shaheer', 'Mahmood', 'Shazia')