In [1]:
first_name = 'Sumaiya'
full_name = 'Sumaiya Khan'
first_name in full_name

True

In [3]:
first_name not in full_name

False

## operators in python

# relational operators

In [7]:
fruits =[]
print(type(fruits))

<class 'list'>

In [23]:
my_list = [1, 2, 3, 4]
my_list.append([5, 6])
print(len(my_list))

5

In [25]:
my_set = {1, 2, 2, 3, 4}
print(len(my_set))

4

In [5]:
x = "Hello"
y = x
y += " World"
print(x)

Hello

In [9]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = set_a.union(set_b)
print(result)

{1, 2, 3, 4, 5}

In [13]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [17]:
print(sorted(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [19]:
print(min(ages))
print(max(ages))

19
26

In [31]:
ages.append(19)
ages.append(26)

In [35]:
print(ages)
len(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19, 26]

13

In [43]:
sum1=sum(ages)
average_age = sum1/13
print('the average age is:',round(average_age,2))

the average age is: 22.46

In [45]:
sum(ages)

292

In [3]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = set_a.union(set_b)
print(result)
print(set_a)
print(set_b)

{1, 2, 3, 4, 5}
{1, 2, 3}
{3, 4, 5}

In [5]:
sum(ages)

NameError: name 'ages' is not defined

In [7]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [9]:
average_age = sum(ages) / len(ages)
print(average_age)

22.8