In [ ]:
b

In [ ]:
b

In [ ]:
b

In [ ]:
b

In [ ]:
a

In [ ]:
c

In [ ]:
mutable data type can be changed and immutable data type cannot be changed.

question 8

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(sorted(ages))
print(min(ages))
print(max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [3]:
ages.append(19)
ages.append(26)
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]

In [10]:
sum1 = 25+26
median_age = sum1/2
print('the median age is:',median_age)

the median age is: 25.5

In [45]:
a=sum(ages)
average_age = a/13
print('the average age is:',round(average_age,2))

TypeError: 'int' object is not callable

In [24]:
range_of_age = 26-19
print('the range of ages is:',range_of_age)

the range of ages is: 7

question 9

In [29]:
name =()
print(type(name))

<class 'tuple'>

In [31]:
sisters =('sundus','sumaiya','warda')
brothers=('waqas','saad','talha')
siblings= sisters+brothers
print(type(sisters))
print(type(brothers))
print(siblings)

<class 'tuple'>
<class 'tuple'>
('sundus', 'sumaiya', 'warda', 'waqas', 'saad', 'talha')

In [33]:
print(len(siblings))

6

In [52]:
family_members =('sundus','sumaiya','warda','waqas','saad','talha','mahmood','shazia')
print(family_members)

('sundus', 'sumaiya', 'warda', 'waqas', 'saad', 'talha', 'mahmood', 'shazia')