## set

In [2]:
# Representation {}
name ={}
print(type(name)) # python mai set and dict dono {} bracket se represent karta ha so if we make empty set then it assumes as dict.

<class 'dict'>

In [4]:
# whenever you want to declare an empty set so we use
name = set()
print(type(name))

<class 'set'>

In [6]:
s ={5,3,3,4}
print(s)  # this tells k set is unordered b/c humne jis order mai elements diye woh uska order change krdeta ha

{3, 4, 5}

In [8]:
s ={5,3,3,4,{4,7}} # esi data types jo mutable ha in nature (eg. list and set) wo set ka part kabhi nahi banti .....items mutable nahi rkh skty
print(s) # if you add set in a set then error will be generated unhashable type

TypeError: unhashable type: 'set'

In [10]:
# same for list
s ={5,3,3,4,[4,7]} # unhashable error
print(s)

TypeError: unhashable type: 'list'

In [12]:
# but we can add tuple in a set b/c tuple is immutable
s ={5,3,3,4,(9,7)}
print(s)

{5, 3, (9, 7), 4}

In [28]:
s = {1,'Sajid',2.5,True}  # by default true matlb 1 and false matlb 0 so yahan true ko woh 1 assume kar raha ha thats why print ni kara
print(s)

{1, 2.5, 'Sajid'}

In [16]:
s = {1,'Sajid',2.5,False}  # false print hoga b/c 0 was not in set so 0 assume kar k print krdea cz 0 pehle nai tha set mai
print(s)

{False, 1, 2.5, 'Sajid'}

In [20]:
fruit = set(['apple','banana','cherry'])  # type casting krdi list ko set bana dea.
print(type(fruit))

<class 'set'>

In [22]:
s1 ={1,2,3,4}
s2={4,2,3,1}
s1==s2  # same ha b/c sets mai sequence matter nai krti so bs elements same hona chye doesnt matter the order.

True

In [24]:
s1 ={1,1,2,3,4}
s2={4,2,3,1}
s1==s2

True

In [30]:
s

{1, 2.5, 'Sajid'}

In [36]:
# Accessing element
print(s[0])  # indexing nahi kar skte b/c set is unordered  so access nahi kar skte in set

TypeError: 'set' object is not subscriptable

In [34]:
# set mai nothing can be added or accessed
s[0]='banana'

TypeError: 'set' object does not support item assignment

In [38]:
S ={1,2,3,4}
# add 
S.add(5)
print(S)

{1, 2, 3, 4, 5}

In [40]:
S.add(7,9) 
print(S)

TypeError: set.add() takes exactly one argument (2 given)

In [42]:
# set mai multiple values add krne k lye update ka funcn use krengye
# update
S.update([5,8,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# set mai multiple time bhi agar run karenge tou woh add ni krega bar bar rather bs 1 bar add krdega b/c set mai duplicate ni hota.

In [44]:
S.update((0,9))
print(S)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
S.update(11,32) # never write like this always pass the elements in a list /set/tuple
print(S)

TypeError: 'int' object is not iterable

In [48]:
S.update({34,33})
print(S)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 34}

In [50]:
S.pop() # pop works in set but wo randomly delete karega not the last one so it supports this funcn but we dont use it normally.
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 34}

In [52]:
S.remove(5) # remove funcn can be used to del an element 
print(S)

{1, 2, 3, 4, 6, 7, 8, 9, 33, 34}

In [54]:
S.discard(44) # discard will delete the element that is given 
print
print(S)

{1, 2, 3, 4, 6, 7, 8, 9, 33, 34}

In [56]:
S.clear() # gives yoou an empty set
print(S)

set()

In [58]:
# operation in a set
# union (|)
s3 = {2,3,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3|s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [60]:
# intersection (&)
s3 = {2,3,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3&s4)

{3, 4, 5}

In [64]:
# Difference (-)
s3 = {2,3,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3-s4) # both ans will be diff
print(s4-s3)

{2, 6}
{10, 12, 13}

In [68]:
# Symmetric Difference (^)
s3 = {2,3,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3^s4) # both will be same 
print(s4^s3)

{2, 6, 10, 12, 13}
{2, 6, 10, 12, 13}

In [70]:
# membership in set
3 in s3

True

In [72]:
# len/sum/min/max/sorted
s ={3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
22
1
7
[1, 2, 3, 4, 5, 7]

In [ ]:
print(sorted(s))

In [1]:
# union/update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

# s1 | s2
result=s1.union(s2) 
print(s1)
print(result)

s1.update(s2) #s1 ko update krdega s2 se
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

##issuperset / isdisjoint / issubset

In [80]:
s1 = {1,2,3,4,5}
s2={3,4,5}

s1.issuperset(s2)

True

In [82]:
s1 = {1,2,3,4,5}
s2={1,8,5,6}

s1.isdisjoint(s2)

False

In [86]:
s1 = {1,2,3,4,}
s2={7,8,5,6}   # both sets should be different so disjoint true aega

s1.isdisjoint(s2)

True

In [94]:
s1 = {1,2,3,4,5}
s2={3,4,5}

s1.issubset(s2)

False

In [92]:
s1 = {1,2,3,4,5}
s2={3,4,5}

s2.issubset(s1)

True

In [96]:
# create frozenset
fs1 = frozenset([1,2,3]) # now it acts as a tuple
print(fs1)

frozenset({1, 2, 3})

In [ ]:
#frozen set is a special type of set which is immutable.

In [100]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([5,6,7,8])

fs1 | fs2

frozenset({1, 2, 3, 5, 6, 7, 8})

In [ ]:
# what works and what does not
# works --> all read functions
# doesnot work ---> write operations

In [108]:
# when to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})