## LIST

In [2]:
fruits = []
print(type(fruits))

<class 'list'>

In [3]:
fruits =['apples','mango','pear','banana','orange','grapes','avacado']
print(fruits)

['apples', 'mango', 'pear', 'banana', 'orange', 'grapes', 'avacado']

In [4]:
print(len(fruits))

7

In [5]:
print(fruits[0::3])

['apples', 'banana', 'avacado']

In [6]:
mixed_data_types = ['Sumaiya',29,'5ft 4 inches','Married','Gulistan-e-johar']
IT_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(IT_companies)
print('The number of companies in the list are:',len(IT_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
The number of companies in the list are: 7

In [7]:
print(IT_companies[0::3])

['Facebook', 'Apple', 'Amazon']

In [8]:
IT_companies[0]='Meta'
print(IT_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [9]:
IT_companies.append('Intel')

In [10]:
IT_companies.insert(4,'Huawei')
print(IT_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Intel']

In [11]:
IT_companies[1] = IT_companies[1].upper()
print(IT_companies)

['Meta', 'GOOGLE', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Intel']

In [12]:
IT_companies.sort()
print(IT_companies)

['Amazon', 'Apple', 'GOOGLE', 'Huawei', 'IBM', 'Intel', 'Meta', 'Microsoft', 'Oracle']

In [13]:
IT_companies.sort(reverse=True)
print(IT_companies)

['Oracle', 'Microsoft', 'Meta', 'Intel', 'IBM', 'Huawei', 'GOOGLE', 'Apple', 'Amazon']

In [14]:
print(IT_companies[3:])

['Intel', 'IBM', 'Huawei', 'GOOGLE', 'Apple', 'Amazon']

In [15]:
print(IT_companies[0:6])

['Oracle', 'Microsoft', 'Meta', 'Intel', 'IBM', 'Huawei']

In [16]:
print(IT_companies[0:4]+IT_companies[5:9])

['Oracle', 'Microsoft', 'Meta', 'Intel', 'Huawei', 'GOOGLE', 'Apple', 'Amazon']

In [17]:
IT_companies.remove('Oracle')
print(IT_companies)

['Microsoft', 'Meta', 'Intel', 'IBM', 'Huawei', 'GOOGLE', 'Apple', 'Amazon']

In [18]:
IT_companies.remove('Huawei')
IT_companies.remove('GOOGLE')
print(IT_companies)

['Microsoft', 'Meta', 'Intel', 'IBM', 'Apple', 'Amazon']

In [19]:
IT_companies.remove('Amazon')
print(IT_companies)

['Microsoft', 'Meta', 'Intel', 'IBM', 'Apple']

In [20]:
IT_companies.clear()
print(IT_companies)

[]

In [21]:
del IT_companies

In [22]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end+back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [23]:
full_stack=(front_end+back_end).copy()
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [24]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [25]:
min(ages)

19

In [26]:
max(ages)

26

In [27]:
ages.append(19)
ages.append(26)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [28]:
sum1=24+24
median_age = sum1/2
print('The median age is:',median_age)

The median age is: 24.0

In [29]:
print(ages)
average_age = sum(ages) / len(ages)
print('The average age is:',average_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
The average age is: 22.75

In [30]:
age_range = max(ages) - min(ages)

print('The range of age is:',age_range)

The range of age is: 7

In [70]:
min_diff = abs(min(ages) - average_age)
max_diff = abs(max(ages) - average_age)

print('abs(min - average):',min_diff)
print('abs(max - average):',max_diff)

if min_diff > max_diff:
    print('The difference between min and average is bigger')

elif min_diff < max_diff:
    print('The difference between max and average is bigger')

else:
    print('The difference is equal')

abs(min - average): 3.75
abs(max - average): 3.25
The difference between min and average is bigger

In [72]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(len(countries))

7

In [74]:
length = len(countries)
middle_index = length // 2
print(middle_index)

3

In [76]:
print('The middle country in the list is:',countries[3])

The middle country in the list is: Finland

In [78]:
countries.insert(1,'Pakistan')
print(countries[0:4],countries[4:9])

['China', 'Pakistan', 'Russia', 'USA'] ['Finland', 'Sweden', 'Norway', 'Denmark']

In [80]:
first_country,second_country,third_country,*scandic_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(first_country)
print(second_country)
print(third_country)
print(scandic_countries)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

## TUPLES

In [84]:
name = ()
print(type(name))

<class 'tuple'>

In [86]:
sisters = ('Sundus','Sumaiya','Warda','Yumna')
brothers = ('Saad','Waqas','Talha','Shaheer')
siblings = sisters+brothers
print(siblings)

('Sundus', 'Sumaiya', 'Warda', 'Yumna', 'Saad', 'Waqas', 'Talha', 'Shaheer')

In [88]:
print(len(siblings))

8

In [90]:
siblings_list = list(siblings)
siblings_list.append('Mahmood')
siblings_list.append('Shazia')
print(siblings_list)

['Sundus', 'Sumaiya', 'Warda', 'Yumna', 'Saad', 'Waqas', 'Talha', 'Shaheer', 'Mahmood', 'Shazia']

In [92]:
family_members = tuple(siblings_list)
print(family_members)

('Sundus', 'Sumaiya', 'Warda', 'Yumna', 'Saad', 'Waqas', 'Talha', 'Shaheer', 'Mahmood', 'Shazia')

In [94]:
siblings,parents = family_members[0:8],family_members[8:]
print(siblings)
print(parents)

('Sundus', 'Sumaiya', 'Warda', 'Yumna', 'Saad', 'Waqas', 'Talha', 'Shaheer')
('Mahmood', 'Shazia')

In [96]:
fruits = ('apples','oranges','grapes','banana')
vegetables = ('cucumber','carrot','cabbage','peas')
animal_products = ('milk','eggs','honey')
food_stuff_tp = fruits+vegetables+animal_products
print(food_stuff_tp)

('apples', 'oranges', 'grapes', 'banana', 'cucumber', 'carrot', 'cabbage', 'peas', 'milk', 'eggs', 'honey')

In [98]:
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['apples', 'oranges', 'grapes', 'banana', 'cucumber', 'carrot', 'cabbage', 'peas', 'milk', 'eggs', 'honey']

In [100]:
middle_index = len(food_stuff_lt)//2
print(middle_index)

5

In [102]:
print(food_stuff_lt[0:5]+food_stuff_lt[6:])

['apples', 'oranges', 'grapes', 'banana', 'cucumber', 'cabbage', 'peas', 'milk', 'eggs', 'honey']

In [104]:
print(food_stuff_lt[3:8])

['banana', 'cucumber', 'carrot', 'cabbage', 'peas']

In [106]:
del food_stuff_tp

## SET

In [110]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [112]:
print(len(it_companies))

7

In [114]:
it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Google', 'Facebook', 'Oracle', 'Amazon', 'Apple', 'Microsoft', 'Twitter'}

In [116]:
it_companies.update(['Meta','Huawei','Intel'])
print(it_companies)

{'Meta', 'Amazon', 'Facebook', 'Oracle', 'Huawei', 'Intel', 'Microsoft', 'IBM', 'Google', 'Apple', 'Twitter'}

In [118]:
it_companies.remove('Facebook')
print(it_companies)

{'Meta', 'Amazon', 'Oracle', 'Huawei', 'Intel', 'Microsoft', 'IBM', 'Google', 'Apple', 'Twitter'}

5. remove function generates an error if the element is not in the set whereas the discard function 
doesnot raise an error even if the element is not in the set

In [122]:
print(A|B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [126]:
print('A intersection B is:',A&B)

A intersection B is: {19, 20, 22, 24, 25, 26}

In [128]:
A.issubset(B)

True

In [130]:
A.isdisjoint(B)

False

In [132]:
print('A with B :',A|B)
print('B with A :',B|A)

A with B : {19, 20, 22, 24, 25, 26, 27, 28}
B with A : {19, 20, 22, 24, 25, 26, 27, 28}

In [134]:
print('The symmetric difference between A and B is:',A^B)

The symmetric difference between A and B is: {27, 28}

In [136]:
print('it_companies:',it_companies)
print('A:',A)
print('B:',B)

it_companies: {'Meta', 'Amazon', 'Oracle', 'Huawei', 'Intel', 'Microsoft', 'IBM', 'Google', 'Apple', 'Twitter'}
A: {19, 20, 22, 24, 25, 26}
B: {19, 20, 22, 24, 25, 26, 27, 28}

In [138]:
del it_companies
del A
del B

In [140]:
print('age:',age)

age: [22, 19, 24, 25, 26, 24, 25, 24]

In [142]:
age_set = set(age)
print('age_set:',age_set)

age_set: {19, 22, 24, 25, 26}

In [144]:
if len(age) > len(age_set):
    print('The length of the list is bigger')

elif len(age) == len(age_set):
    print('The length of list and set is same')

else:
    print('The length of set is bigger')

The length of the list is bigger

## Explain the difference between the following data types: string, list, tuple and set

SET: A set is an unordered collection of unique elements therefore, it does not allow duplicates. Set is mutable.

LIST: A list is an ordered collection of elements that can hold items of any data type. It is also mutable which 
means you can modify the elements of a list. Unlike sets, lists can have duplicate elements.

TUPLE: A tuple is an ordered collection of elements, similar to a list, but immutable which means its elements cannot 
be changed, added, or removed. Tuple can also have duplicate elements.

STRING: A string is a sequence of characters, and is also an ordered, immutable data type. String allows duplicates so 
it can have same character multiple times.