In [9]:
def square_number(number_list):
    square_list=[]
    for x in number_list:
        square_list.append(x**2)
        
    return square_list

numbers =[2,4,6,8]
print('original list:',numbers)
print(square_number(numbers))

original list: [2, 4, 6, 8]
[4, 16, 36, 64]

In [13]:
def cube_number(num_list):
    temp_list=[]
    for x in num_list:
        temp_list.append(x**3)
        
    return temp_list

num_list =[2,4,6,8]
print('original list:',num_list)
print(cube_number(num_list))

original list: [2, 4, 6, 8]
[8, 64, 216, 512]

In [25]:
# make a funcn to give the sum of all elements
def sum_list(numbers_list):
    sum1=[]
    sum1=sum(numbers_list)
    return sum1

y= [2,3,4,5]
print('original list:',y)
print(sum_list(y))

original list: [2, 3, 4, 5]
14

In [17]:
# make a funcn to give the sum of all elements
def sum_list(num_list):
    sum=0
    for i in num_list:
        sum=sum+i
    return sum

y= [2,3,4,5]
print('original list:',y)
print(sum_list(y))

original list: [2, 3, 4, 5]
14

In [27]:
# make a funcn to take tuple as an input then give product 
def product(num):
    product=1
    for i in num:
        product=product*i
    return product
        

num=(1,2,3,4,5)
print('original:',num)
product(num)

original: (1, 2, 3, 4, 5)

120

In [70]:
# make a funcn to check if the number entered is valid and then check if number is even.
def even_num(number):
    if number.replace('.','').replace('-','').replace('+','').isdigit():
        num=float(number)
        if num%2==0:
            return 'The number is Even'
        else:
            return'The number is Odd'
        
    else:
         return'Enter a valid number'

number=input('ENter a number:')
even_num(number)

ENter a number: /

'Enter a valid number'

In [74]:
def is_valid_even(num):
    if type(num)==int:
        if num%2==0:
            return 'Number is even'
        else:
            return'Number is Odd'

    else:
        return'Enter a valid Number'


is_valid_even(58)

'Number is even'

In [76]:
for i in range(10,20):
        print('Number is',i,'Category:',is_valid_even(i))

Number is 10 Category: Number is even
Number is 11 Category: Number is Odd
Number is 12 Category: Number is even
Number is 13 Category: Number is Odd
Number is 14 Category: Number is even
Number is 15 Category: Number is Odd
Number is 16 Category: Number is even
Number is 17 Category: Number is Odd
Number is 18 Category: Number is even
Number is 19 Category: Number is Odd

In [ ]:
# Default Agruments
# Positional Agruments
# Keywords Arguments

In [60]:
def power(a=1,b=1):   # these type of arguments are called defaault arguments
    return a**b

In [62]:
power()

1

In [64]:
power(2,3)

8

In [66]:
power(b=3,a=2)

8

In [78]:
def power(c=3.8,b=1):
    return c**b

In [80]:
power(b=2)

14.44

In [84]:
a=(2,3,4,5,6)
a

(2, 3, 4, 5, 6)

In [86]:
a,b,c,d,e=(2,3,4,5,6)
a,b,c,d,e

(2, 3, 4, 5, 6)

In [90]:
a,b,*others=(2,3,4,5,6)
a,b,others

(2, 3, [4, 5, 6])

In [92]:
# *args , *keywargs

def product(*args):
    product=1
    for i in args:
        product=product*i

    print(args)
    return product

In [94]:
product(2,3,4,5,2,3,4,5,2,3,4,5)

(2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5)

1728000

In [96]:
def profile(*args):
    print(args)

full_name=input('Enter your Name:')
age= input('Enter your age:')
gender=input('Enter your gender:')
profession=input('Enter your profession:')
profile(full_name,age,gender,profession)

Enter your Name: sumaiya khan
Enter your age: 29
Enter your gender: female
Enter your profession: housewife

('sumaiya khan', '29', 'female', 'housewife')

In [106]:
def user_details(**kwargs):
    for key,value in kwargs.items():
        print(key,'----->',value)
    

name=input('Enter your Name:')
age= input('Enter your age:')
gender=input('Enter your gender:')
profession=input('Enter your profession:')
user_details(name=name,age=age,gender=gender,profession=profession)

Enter your Name: Sumaiya
Enter your age: 29
Enter your gender: Female
Enter your profession: Houeswife

name -----> Sumaiya
age -----> 29
gender -----> Female
profession -----> Houeswife

In [108]:
def capitals_of_country(**kwargs):
    for key,value in kwargs.items():
        print(key,'---->',value)

In [110]:
capitals_of_country(Pakistan='Islamabad',India='Delhi',Bangladesh='Dhaka')

Pakistan ----> Islamabad
India ----> Delhi
Bangladesh ----> Dhaka

In [112]:
def school(**kwargs):
    for key,value in kwargs.items():
        print(key,'----->',value)

In [120]:
my_school=input('Enter your school:')
my_university= input('Enter your university:')
graduation=input('Enter your graduation:')
user_details(my_school=my_school,my_university=my_university,graduation=graduation)

Enter your school: MEIS
Enter your university: NED
Enter your graduation: Electrical

my_school -----> MEIS
my_university -----> NED
graduation -----> Electrical

In [116]:
list=[1,2,3,4]
print(list.append(5))
print(list)

None
[1, 2, 3, 4, 5]