Operators in Python

The Basic type of operators in python:
1-Arithmatic operators 
2-Relationship operator

In [4]:
print(2>3)
print(4<2)
print(4!=4)

False
False
False

In [8]:
number1 = float(input('Enter your number 1:'))
number2 = float(input('Enter your number 2:'))
print('The Result of the given numbers:',number1>number2)
print('The Result of the given numbers:',number1<number2)
print('The Result of the given numbers:',number1!=number2)
print('The Result of the given numbers:',number1==number2)
print('The Result of the given numbers:',number1>=number2)
print('The Result of the given numbers:',number1<=number2)

Enter your number 1: 7
Enter your number 2: 35

The Result of the given numbers: False
The Result of the given numbers: True
The Result of the given numbers: True
The Result of the given numbers: False
The Result of the given numbers: False
The Result of the given numbers: True

In [12]:
number1 = float(input('Enter your number 1:'))
number2 = float(input('Enter your number 2:'))
number3 = float(input('Enter your number 3:'))
print(number1>number2>number3)

Enter your number 1: 100
Enter your number 2: 50
Enter your number 3: 30

True

In [21]:
number1 = False
number2 = False
number2 or number1

False

In [25]:
number1 = True
number2 = True
number2 and number1

True

In [27]:
not number1

False

In [5]:
number1 = bool(input('Enter first boolean input'))
number2 = bool(input('Enter second boolean input:'))
print('AND logic:',number1 and number2)
print('OR logic:',number1 or number2)
print('NOT logic:',not number1)

Enter first boolean input False
Enter second boolean input: True

AND logic: True
OR logic: True
NOT logic: False

Assignment Operator

In [4]:
number = 10
number+=5
print(number)

15

In [14]:
a = 'Data science is the study of data to extract meaningful insights for business'
b = 'Data science is the study of data to extract meaningful insights for business'
print(a is b)
print(id(a))
print(id(b))

False
2242399074992
2242399066416

In [12]:
a = 5
b =5
a is b

True

In [18]:
name = ['Sumaiya','Farooq','Rayyan','Ibrahim']
a = 'Python'
print('Sumaiya' in name)
print('y' in a)
print('P' in a)
print('P' not in a)

True
True
True
False